$primary: #3b82f6;
$secondary: #10b981;
$text-dark: #1f2937;
$bg-light: #f3f4f6;
$bg-dark-1: #f3f4f6;
$bg-dark-2: #2c2c2c;
$bg-dark-3: #474747;
$bg-dark-4: #494949;
$bg-dark-3: #404040;
$orange: #cb4314;